.title #id,
.test {
  color: blue;
  font-size: 1em;
}

.article {
  color: #00f;
}

@media (min-width: 30em) {
  .other,
  .other .other2 {
    color: #00f;
    font-size: 2em;
  }
}

#stuff .asd {
  color: green;
}
