/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: #333;
  font: 1em/1.4 "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
  margin: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  border: 0;
  border-top: 1px solid currentColor;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default link styles.
 */

a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  text-decoration-skip: ink;
}

li a {
  color: currentColor;
}

/*
 * Button cursor should be a pointer
 */

button {
  cursor: pointer;
}

/*
 * Input(s) text should match surrounding text
 */

input,
button,
select,
textarea {
  color: inherit;
  font: inherit;
}

/*
 * Match SVG icons to current color and size of text.
 */

svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

/*
 * Eliminate list default styling
 */

ul,
dl,
dt,
dd,
dl,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
 * Consistent disabled style across app
 */

[disabled] {
  cursor: default;
  opacity: 0.25;
  pointer-events: none;
}

/*
 * Consistent hidden style across app
 */

[hidden] {
  display: none !important;
}
